
.list-image-modal .modal-dialog {
  width: 90%;
  height: 90%;
  max-width: initial;
}
.list-image-modal .modal {
    padding-left: 0;
}
.list-image-modal .modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.list-image {
  display: block;
  padding: 3px 0 0 0;
  width: 100%;
  float: left;
}
.list-image li {
  list-style-type: none;
  display: table-cell;
  border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
  position: relative;
  overflow: hidden;
  float: left;
  width: 10%;
  height: 180px;
}
.list-image li img {
  width: 100%;
}
.list-image li span {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0,0,0,0.7);
  width: 0;
  padding: 0;
  text-align: center;
  line-height: 0;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list-image li:hover span {
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  position: absolute;

}
.list-image li h2 {
    display: none;
}
.list-image li:hover h2 {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 5px;
}
.list-image li a {
  color: #fff;
  text-decoration: none;
}
.list-image li.navigation div {
  background: #ddd;
  text-align: center;
  padding: 39% 0;
  font-size: 30px;
}
.list-image li.navigation .fa {
  color: #aaa;
  text-shadow: 1px 1px 1px #fff;
}
.list-image li.navigation a .fa {
	color: #888;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.list-image li.navigation a:hover .fa {
  color: #78AB46;
}
.form-group label {
    font-weight: bold;
}
.preview_image , .preview_video{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.preview_image img {
  width: 50%;
}
.tab-pane.fade:not(.show) {
    display: none;
}
.tab-pane.fade {
    display: block;
}
.nav-custom {
    margin-bottom: 10px;
}
