.overloading {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fff;
  z-index: 9999999999999;
  top:0;
  left: 0;
}
 .loading {
	 display: flex;
	 justify-content: center;
}
 .loading div {
	 width: 1rem;
	 height: 1rem;
	 margin: 2rem 0.3rem;
	 background: #979fd0;
	 border-radius: 50%;
	 animation: 0.9s bounce infinite alternate;
}
 .loading div:nth-child(2) {
	 animation-delay: 0.3s;
}
 .loading div:nth-child(3) {
	 animation-delay: 0.6s;
}
 @keyframes bounce {
	 to {
		 opacity: 0.3;
		 transform: translate3d(0, -1rem, 0);
	}
}
 .donut {
	 width: 2rem;
	 height: 2rem;
	 margin: 2rem;
	 border-radius: 50%;
	 border: 0.3rem solid rgba(151, 159, 208, 0.3);
	 border-top-color: #979fd0;
	 animation: 1.5s spin infinite linear;
}
 .donut.multi {
	 border-bottom-color: #979fd0;
}
 @keyframes spin {
	 to {
		 transform: rotate(360deg);
	}
}
 .ripple {
	 width: 2rem;
	 height: 2rem;
	 margin: 2rem;
	 border-radius: 50%;
	 border: 0.3rem solid #979fd0;
	 transform: translate(50%);
	 animation: 1s ripple ease-out infinite;
}
 @keyframes ripple {
	 from {
		 transform: scale(0);
		 opacity: 1;
	}
	 to {
		 transform: scale(1);
		 opacity: 0;
	}
}
 .multi-ripple {
	 width: 2.6rem;
	 height: 2.6rem;
	 margin: 2rem;
}
 .multi-ripple div {
	 position: absolute;
	 width: 2rem;
	 height: 2rem;
	 border-radius: 50%;
	 border: 0.3rem solid #979fd0;
	 animation: 1.5s ripple infinite;
}
 .multi-ripple div:nth-child(2) {
	 animation-delay: 0.5s;
}
 .fancy-spinner {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 width: 5rem;
	 height: 5rem;
}
 .fancy-spinner div {
	 position: absolute;
	 width: 4rem;
	 height: 4rem;
	 border-radius: 50%;
}
 .fancy-spinner div.ring {
	 border-width: 0.5rem;
	 border-style: solid;
	 border-color: transparent;
	 animation: 2s fancy infinite alternate;
}
 .fancy-spinner div.ring:nth-child(1) {
	 border-left-color: #979fd0;
	 border-right-color: #979fd0;
}
 .fancy-spinner div.ring:nth-child(2) {
	 border-top-color: #979fd0;
	 border-bottom-color: #979fd0;
	 animation-delay: 1s;
}
 .fancy-spinner div.dot {
	 width: 1rem;
	 height: 1rem;
	 background: #979fd0;
}
 @keyframes fancy {
	 to {
		 transform: rotate(360deg) scale(0.5);
	}
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

#progress {
  position: absolute;
  width: 100%;
  height: 3px;
}

#bar {
  background-color: #fff;
  height: 100%;
  transition: width 0.1s ease;
}

#bar.hide {
  opacity: 0;
  transition: opacity 1s ease;
}

#container {
  width: 100%;
  height: 100%;
}

button {
  position: absolute;
  top: 5px;
  width: 100px;
  height: 30px;
}

#btn1 {
  left: 5px;
}

#btn2 {
  left: 110px;
}

#btn3 {
  left: 215px;
}

.close_side_bar {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 0px;
  right: -44px;
}
.close_side_bar img {
  display: block;
  width: 100%;
  height: 100%;
}
.title-image {
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  position: fixed;
  bottom:10px;
  left: 10px;
  margin: 0;
  padding-left: 30px;
}
.show_side_bar {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  width: 57px;
  margin-top: -100px;
}
.show_side_bar img{
  width: 100%;
  height: 100%;
  display: block;
}
.left_site {
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 10px;
  background: rgb(33, 114, 68);
  z-index: 9999999999;
}
.right_side {
  right: 10px;
  left: auto;
}
.control_bar {
  background: rgb(33, 114, 68);
}
.alertbar {
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  background: rgb(33, 114, 68);
  color:#fff;
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

  .toogle_menu {
    display: block;
    width: 100%;
    position: relative;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .toogle_menu:hover {
    color:#fff;
  }
.nav {

  display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow: auto;
}
  .nav ul {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
    .nav ul li {
      display: block;
      width: 100%;
      position: relative;
    }
  .cover-item {
    margin-bottom: 10px;
    position: relative;
  }
  .nav .title {

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: rgba(238, 238, 238, 0.6);
    border-width: 0px 0px 1px;
    border-radius: 0px;
    width: 100%;
    background: none;
    padding: 0 15px;
    z-index: 123123;

  }
  .nav .title.content-menu {
    display: block;
    position: relative;

  }
  .nav .title.content-menu  a {
    display: block;
    margin-top: 0;
    padding: 5px;
  }
    .nav .title.content-menu.active a {
      color:#32ae58;
    }
    .nav .title a {
      color: #dadada;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
    }
    .nav .title i {
      color:#fff;
      font-size: 14px;
      position: absolute;
      right: 15px;
      top:50%;
      margin-top: -7px;
    }
    .nav .back {
      position: absolute;
      z-index: 3001;
      overflow: visible;
      opacity: 1;
      cursor: pointer;
      pointer-events: auto;
      color: rgb(0, 0, 0);
      text-size-adjust: none;
      width: 340px;
      height: 32px;
      transform: translateZ(1e+12px) translate(0px, 0px) translate(-172.5px, -16px) rotate(0deg) translate(172.5px, 16px);
      background: #434a51;
      left: -25px;
      top:-32px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      padding-left: 10px;
      color:#fff;
      text-decoration: none;
    }
    .nav .back:hover {
      background: #009688;
    }
    .nav .title .img {

      z-index: 3001;
      overflow: visible;
      opacity: 1;
      cursor: default;
      pointer-events: none;
      width: 100px;
      height: 50px;
      background-size: cover;
      transform: translateZ(1e+12px) translate(10px, 15px) translate(-50px, -25px) rotate(0deg) translate(50px, 25px);
      top:0;

    }
.item-detail {
  display: none;
  right: -100px;
  position: relative;
}
.to-home {
  position: relative;
  z-index: 99999999999999999999999;
}



//Variables
$btn-round-size:20px;
$btn-round-rotate:135deg;
$btn-default-color:blue;

//Styles
body {
  font-family: sans-serif;
}

.btn-round {
  width:$btn-round-size;
	height:$btn-round-size;
	border-radius:$btn-round-size;
  position: absolute;
  top: 10px;
    left: 10px;
}

.btn-square {
  width:$btn-round-size;
	height:$btn-round-size;
}

.close{
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;

  &::before, &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
  }
  &::before {
     transform:rotate(0deg);
    }
 &::after {
     transform:rotate(90deg);
    }
}



//Animations
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes plusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -$btn-round-rotate);
    transform: rotate3d(0, 0, 1, -$btn-round-rotate);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes plusButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
  }
}

.plusButton {
  -webkit-animation-name: plusButton;
  animation-name: plusButton;
}


@-webkit-keyframes closeButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;

  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);
  }
}

@keyframes closeButton {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;

  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);
  }
}

.closeButton {
  -webkit-animation-name: closeButton;
  animation-name: closeButton;
}

@-webkit-keyframes circleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;

  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);

    border-radius: $btn-round-size;
  }
}

@keyframes circleShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;

  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);
    border-radius: $btn-round-size;
  }
}

.circleShape {
  -webkit-animation-name: circleShape;
  animation-name: circleShape;
}

@-webkit-keyframes squareShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);
    border-radius: $btn-round-size;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;

    border-radius: 0px;
  }
}

@keyframes squareShape {
  from {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, $btn-round-rotate);
    transform: rotate3d(0, 0, 1, $btn-round-rotate);
    border-radius: $btn-round-size;
  }

  to {
    -webkit-transform-origin: center;
    transform-origin: center;

    border-radius: 0px;
  }
}

.squareShape {
  -webkit-animation-name: squareShape;
  animation-name: squareShape;
}

.map {
  display: none;
  position: absolute;
  top:0;
  left: 0;
}

#toogle_footer_bar {
  display: block;
  position: absolute;
  bottom:8px;
  left: 10px;
  z-index: 3;
}
#toogle_footer_bar.active {
  display: block;
  position: absolute;
  bottom:14px;
  left: 10px;
  z-index: 3;
}
#toogle_footer_bar i{
  color: #fff;
}
#toogle_footer_bar i.eye2{
  display: none;
}
#toogle_footer_bar.active i{
  display: none;
}
#toogle_footer_bar.active i.eye2{
  display: block;
}
#stop_slider {
  display: block;
  position: absolute;
  bottom: 20px;
  width: 20px;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  color: #fff;
  font-size: 30px;
}




.nav {
	ul.menu_in {
		display: none;
    &.active {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: center;
      align-items: center;
    }
	}
}
.menu_in {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding-top: 50px;
}
  .menu_in  li {
    display: block;
    margin-bottom: 20px;
  }
    .menu_in  li  a {
      font-size: 20px;
      color: #fff;
    }
.nav-tgl {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  padding: 0;
  background: #fff;
	box-shadow: 0px 4px 24px rgba(#000, 0.24);
  line-height: 0.6;
  text-align: center;

	// making the dividers
	> span {
		// the second divider
		display: inline-block;
		position: relative;
		height: 2px;
		width: 34px;
		border-radius: 1px;
		background: #293335;
		vertical-align: middle;

		// the first & the third dividers
		&:before, &:after {
		  display: inline-block;
			position: absolute;
			content: "";
			height: 2px;
			border-radius: 1px;
			background: #293335;
			// for the hover state
			transition: all 200ms;
		}
		&:before {
		  top: -11px;
			left: 3px;
			width: 28px;
		}
		&:after {
		  top: 11px;
			left: 6px;
			width: 22px;
		}
	}

	// ofcorse we should find a replacement for the focus state but it's not our topic
	&:focus {outline: none}

	&:hover > span:after, &:hover > span:before {
		width: 34px;
		left: 0;
	}
}

// for the nav background (styling the nav itself is not our topic)
.nav:before {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  transition: all 500ms ease-in-out;

	// that's all the pen about
  clip-path: circle(30px at calc(100% - 65px) 65px);
	// for AT
  visibility: hidden;
}

// when it gits activated
.menu.active {
	.nav:before {
		visibility: visible;

		// that's all the pen about
		clip-path: circle(100%);
	}

	.nav-tgl > span {
		height: 0;
		&:after, &:before {
		  top: 0px;
			left: 0;
			width: 34px;
		}
		&:after {
		  transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
	}
}

@media only screen and (max-width: 767px) {
  #toogle_footer_bar {
    bottom: 50px;
  }
  #toogle_footer_bar.active {
    bottom: 55px;
  }
  .title-image {
    bottom: 50px;
  }
}
